.percentClass {
  width: 100%;
  background-color: black;
  height: 100vh;
  padding-top: 280px;
  overflow-y: hidden;
  .MainContainer {
    // padding-top: px;
    // width: 100%;
    
    width: 1550px;
    margin: 0 auto;
    .bannerImage {
      width: 100%;
    }
  
    .historyTextContainer {
      position: absolute;
  
      width: 1440px;
      .titleHistory {
        font-size: 48px;
        font-weight: 500;
        margin-top: -830px;
        margin-left: 350px;
        padding-bottom: 60px;
      }
      .ImageContainer {
        width: 55%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        padding-left: 50px;
        .bannerImage {
          width: 15%;
          padding-bottom: 50px;
          filter: drop-shadow(6px 16px 36px #383a4014);
        }
      }
    }
  }
}


