.MainContainer {
    width: 100%;
    // background: url('/images/backg1.jpg');
    height: 100%;
    padding-top: 130px;
    .bannerConainer {
      background: url('/images/231983.jpg');
      background-attachment: fixed;
      height: 360px;
    }
    .MainBackground {
      background-color: black;
      // background-color: #e7eaef;
      .flexContainerTop {
        width: 1500px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        color: whitesmoke;
        text-align: center;
        .title {
          text-decoration: underline;
          font-weight: 900;
          font-size: 40px;
          padding-bottom: 30px;
        }
        .textNormal1 {
          font-weight: 300;
          font-size: 34px;
          padding-bottom: 80px;
        }
        .textExample{
            // text-align: left;
            padding-left: 45px;
            font-weight: 300;
            font-size: 34px;
            padding-bottom: 30px;

        }
        .imageCorp{
            display: flex;
            justify-content: space-around;
            padding-bottom: 50px;
        }
      }
    }
  
    
    
  }
  