.MainContainer {
  width: 100%;
  // background: url('/images/backg1.jpg');
  height: 100%;
  padding-top: 130px;
  .bannerConainer {
    background: url('/images/231983.jpg');
    background-attachment: fixed;
    height: 360px;
  }
  .MainBackground {
    background-color: black;
    // background-color: #e7eaef;
    .flexContainerTop {
      width: 1500px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      color: whitesmoke;
      text-align: center;
      .title {
        text-decoration: underline;
        font-weight: 900;
        font-size: 40px;
        padding-bottom: 30px;
      }
      .textNormal1 {
        font-weight: 300;
        font-size: 34px;
        padding-bottom: 30px;
      }
      .textNormal2 {
        font-weight: 300;
        font-size: 24px;
        padding-bottom: 50px;
      }
      .titleImage {
        width: 80%;
        margin: 0 auto;
        img{
          border-radius: 20px;
        }
      }
    }
    .flexContainer {
      width: 1500px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
      .leftContent {
        width: 30%;
        img {border-radius: 28px;}
        
      }
      .rightContent {
        width: 70%;
        color: whitesmoke;
        padding-left: 50px;
        padding-top: 50px;
        .titleText{
          font-weight: 900;
          font-size: 34px;
          padding-bottom: 30px;
        }
        .Text1 {
          font-weight: normal;
          font-size: 24px;
          padding-bottom: 25px;
        }
        .Text2 {
          font-weight: normal;
          font-size: 24px;
          padding-bottom: 25px;
        }
        .Text3 {
          font-weight: normal;
          font-size: 24px;
          padding-bottom: 25px;
        }
      }
  }
  .flexImageContainer {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    .imagePic {
      width: 31%;
      padding-bottom: 50px;
      img {
        border-radius: 15px;
      }
    }
  }
  }

  
  
}
