
.MainContainer {
  padding-top: 135px;
  padding-bottom: 100px;
  background: #f3f3f3;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: linear-gradient(white 80%, #c7e5fc);
  // background-color: #c7e5fc;
  .bannerConainer {
    width: 100%;
    background: url('/images/new-banner-long.jpg') no-repeat 95% 15%;
    box-shadow: 0 3px 12px 0 #ebebeb;
    background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    height: 500px;
  }
  .flexContainer {
    padding-top: 50px;
    width: 1366px;
    margin: 0 auto;
    padding-bottom: 0px;
    .Title {
      font-weight: 900;
      text-align: center;
      font-size: 48px;
      color: red;
    }
    .centerVideo {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      div {
        margin: 0 auto;
      }
      
    }
    .firstContent {
      display:flex;
      justify-content: space-around;
      .leftContent {
        width: 20%;
        .imagePaddTop {
          padding-bottom: 40px;
        }
        img {
          border-radius: 20px;
        }
      }
      .rightContent {
        width: 80%;
        margin-left: 5%;
        .textContent {
          color: #2b2b2b;
          font-size: 2.7rem;
          div {
            text-align: left;
          }
        }
        .messageContent {
          p {
            color: #55585a;
            text-align: left;
            font-size: 2rem;
            line-height: 2.6rem;
          }
        }
        .imageOptimize1 {
          // padding-top: 50px;
          width: 30%;
          margin: 0 auto;
          img {
            // padding-left:220px;
            width: 100%;
            
          }
        }
      }
    }
  }
  .textGarutee {
    padding-top: 40px;
    text-align: center;
    color: red;
    font-size: 30px;
  }
  .imageOptimize {
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
    width: 100%;
    img {
      border-radius: 20px;
    }
  }
}

@media (max-width: 766px) {
  
.MainContainer {
  padding-top: 84px;
  padding-bottom: 100px;
  background: url('/images/backg1.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: linear-gradient(white 80%, #c7e5fc);
  // background-color: #c7e5fc;
  .bannerConainer {
    width: 100%;
    background: url('/images/231983.jpg');
    background-attachment: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
  }
  .flexContainer {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
    .Title {
      font-weight: 900;
      text-align: center;
      font-size: 11vw;
      color: red;
    }
    .centerVideo {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      div {
        height: 330px!important;
        margin: 0 auto;
      }
      
    }
    .firstContent {
      display:flex;
      justify-content: space-around;
      flex-direction: column;
      .leftContent {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
        .imagePaddTop {
          padding-bottom: 40px;
          display: none;
          .imageSleep {
            display: none;
          }
        }
        img {
          border-radius: 20px;
        }
      }
      .rightContent {
        width: 100%;
        .textContent {
          color: whitesmoke;
          padding-left: 20px;
          font-size: 6.2vw;
          font-weight: 500;
          div {
            text-align: left;
          }
        }
        .textGarutee {
           padding-bottom: 15px;
          text-align: center;
          color: red;
          font-size: 6.2vw;
        }
        .imageOptimize1 {
          padding-top: 0px;
          img {
            padding-left:0px;
            margin: 0 auto;
          }
        }
        .imageOptimize {
          padding-top: 10px;
          img {
            border-radius: 20px;
          }
        }
      }
    }
  }
}
}
